.movies {
  width: 1010px;
  min-height: 100vh;
  min-width: 360px;
  padding: 36px;
  margin: 0 auto;
  background-color: #ffffff;
}

.ant-pagination-item-active {
  background-color: #1890ff;
  color: white;
  border-radius: 4px;
}

.ant-pagination-item-active a {
  color: white;
}

.ant-pagination-item-active a:hover {
  color: black;
}

@media screen and (max-width: 1010px) {
  .movies {
    width: 100%;
  }
  .movies-app {
    width: 100vw;
  }
}

@media screen and (max-width: 768px) {
  .movies {
    width: 100%;
    padding: 16px;
  }
}


